.app.dark {
  --bg-color: #414144;
  --inverted-bg-color: #b4b3b3;

  --primary-color: #a34529;
  --secondary-color: #978e8e;

  --inverted-primary-color: #1d253b;
  --inverted-secondary-color: #a34529;
}